[submodule "src/teg"]
	path = src/teg
	url = http://github.com/SolraBizna/teg.git
[submodule "src/libsn"]
	path = src/libsn
	url = http://github.com/SolraBizna/libsn.git
[submodule "src/lsx"]
	path = src/lsx
	url = http://github.com/SolraBizna/lsx.git
